.whyUs {
    height: auto;
    background-color: rgb(218, 213, 205);
    padding: 10vh 0;
}

.whyUs__container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.whyUs__header {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}

.whyUs__item {
    padding: 10px;
}

.whyUs__question {
    font-size: 3em;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.whyUs__answer {
    font-size: 1.5em;
    width: 80%;
    margin: 0 auto;
}

@media (max-width:950px) {
    .whyUs__question {
        font-size: 2.5em;
    }

    .whyUs__answer {
        font-size: 1.2em;
    }

    .whyUs__item {
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 1em;
    }
}

@media (max-width:1200px) {
    .whyUs__item {
        font-size: 1em;
    }
}

.whyUs__gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
}

.whyUs__item {
    text-align: center;
    padding: 30px;
}

.whyUs__icon {
    font-size: 64px;
    padding: 30px;
    background-color: rgba(247, 193, 164, 0.644);
    border-radius: 50%;
    transition: .5s;
}

.whyUs__icon:hover {
    transform: scale(1.2);
}

.whyUs__text {
    font-size: 1.1em;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}

.whyUs__item header {
    font-size: 1.7em;
    padding-top: 20px;
    text-transform: uppercase;
}